[submodule "deps/whisper.cpp"]
	path = deps/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
[submodule "mongo-c-driver"]
	path = deps/mongo-c-driver
	url = https://github.com/mongodb/mongo-c-driver.git
