.projectile
.DS_Store
*.bin
*.log
*.pro.user*
deps/
doc/html/
.open.swp
.vscode/
build/
doc/html/
compile_commands.json
*.lnk
*.core
*.autosave
CMakeLists.txt.user*
*.user
.VSCodeCounter
.clangd
.cache
.dir-locals.el
.emacs
nohup.out